node_modules/
*.svg
*.png
*.pdf
/dist
/dist-types/
.DS_Store
.npmrc
yarn-error.log
test-positive/*.out.md
test-output/

# Ignore generated mermaid output files
*.mmd
!tests/*.puml
!tests/*.drawio
!tests/*.excalidraw
!tests/*.vsdx

# Ignore temporary and test output files
test-output.*
temp.*

# these are no longer used, but may still be in people's git folders
fontawesome/
*.min.js
*.bundle.js
