node_modules/
*.svg
*.png
*.pdf
/dist
/dist-types/
.DS_Store
.npmrc
yarn-error.log
test-positive/*.out.md
test-output/

# Ignore generated mermaid output files in tests directory
tests/*.mmd

# these are no longer used, but may still be in people's git folders
fontawesome/
*.min.js
*.bundle.js
